**/__pycache__/
**/.mypy_cache/
**/.ruff_cache

**/.idea/

**/custom/
**/logs/
**/LICENSE
**/logo.jpg

**/*.session
**/*.session-journal

**/.git/
**/*.gitignore
**/*.gitattributes

**/docker-compose.yml
**/docker-compose.yaml
**/Dockerfile
**/.docker
**/.dockerignore

Makefile
README.md
**/tests/
.coverage